body {
  background-color: black !important;
}
.main {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.sidenav {
  max-width: 275px;
  border: 1px solid white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-2 {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.grid-3 {
  border: 1px solid white;
  width: 30%;
  overflow: hidden;
}
/* start of sidebar */
.logo {
  padding: 12px 10px;
}
.logo img {
  width: 27px;
}
.navlink {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 12px 10px;
  border-radius: 20px;
  transition: 300ms;
}
.navlink:hover {
  background-color: rgba(231, 233, 234, 0.1);
  transition: 300ms;
}
.navlink svg {
  width: 26px;
  fill: white;
}
.navlink span {
  font-size: 2rem;
  color: white;
  margin-left: 10px;
}
.inuse {
  font-weight: bold;
}
.user {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
}
.user img {
  width: 40px;
  border-radius: 50%;
}
.user_info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
}
.user_info span {
  color: white;
  font-size: 1.5rem;
}
.user_info p {
  color: gray;
  font-size: 1.5rem;
}
.nav_post {
  width: 80%;
  background-color: #1e97e1 !important;
  border: none;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 15px 0px;
  border-radius: 25px;
  margin-right: 20px;
}
.nav_post svg {
  display: none;
}
/* sidebar media query */
@media screen and (max-width: 1260px) {
  .navlink span {
    display: none;
  }
  .nav_post span {
    display: none;
  }
  .nav_post {
    display: flex;
    width: auto;
    padding: 15px;
    border-radius: 50%;
  }
  .nav_post svg {
    display: block;
    width: 30px;
    fill: white;
  }
  .user_info {
    display: none;
  }
  .sidenav {
    align-items: flex-end;
    max-width: 180px;
  }
  main {
    margin: 0 auto;
    display: flex;
  }
  .user {
    justify-content: flex-end;
    padding-right: 20px;
  }
}
/* end of sidebar */
